.header {
    height: 150px;
    border-bottom: 3px solid black;
}

.header .title {
    text-align: center;
}

.links__list {
    margin: 0;
    padding: 0;
}

.nav-links__item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links__link, .nav-links__link:active {
    display: block;
    border: 2px orangered solid;
    text-decoration: none;
    color: orange;
    margin: 5px;
    padding: 5px;
}

.nav-links__link:hover {
    background-color: gray;
}

.nav-links__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}