.content {
    margin: 20px auto;
    width: 80%;
}

.result-table {
    width: 100%;
}

.table-element {
    border-bottom: 1px solid gray;
    padding: 10px;
    
}

.result-table__body .table-row .table-element:nth-child(2) {
    text-align: center;
}